//import globals, mixins and partials

@import 'globals';
@import 'partials/header';
@import 'partials/about';
@import 'partials/portfolio';
@import 'partials/contact';
@import 'partials/footer';

* {

  padding: 0px;
  margin: 0px;
  font-family: 'helvetica';
  box-sizing: border-box;

}

body {

  background: $bgColor;
  position: absolute;
  width: 100%;
  height: 100%;

}

.container {
	
  width: 67%;
	
}

#bodyContainer {

  background: #ddd;
  margin-top: 75px;
  height: 100%;


}
