#about {

	height: 250px;
	border-bottom: 1px solid black;
	position: relative;
	margin: 25px 0 25px 0;

	img { 

		display: inline-block;
		height: 195px;
		width: 195px;
		margin-top: 20px;
		border-radius: 50%;


	}

	p {
		
		display: inline-block;
		padding: 0 0 0 35px;
		font-size: 20px;
		text-align: center;
		height:100px;
		position: absolute;
		top: 40%;
		/* margin-top: -50px;*/
	}

}